<div class="container-lg">
    <div class="row align-items-center ">
     <div class="col">
          Call Now! 
          <a href="tel:6197881646"> (619) 788-1646 </a>
          <a href="mailto:bestpriceplumbing@yahoo.com"> bestpriceplumbing@yahoo.com </a>
     </div>
    </div>
  </div>