<div class="d-flex justify-content-center align-items-center position-relative" style="height: 400px;">
  <img class="img-fluid overflow-hidden" src="/static/plumb.jpeg" style="min-width: 100%; max-height: 400px;">
  <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: blue; font-weight: bold; text-shadow: 2px 2px black;">Best Price Plumbing</h1>
  <a href="/services" class="btn btn-primary position-absolute" style="top: 70%; left: 40%; ">Services</a>
  <a href="tel:6197881646" class="btn btn-primary position-absolute" style="top: 70%; left: 60%;">619-788-1646</a>
</div>
