.bLine80 {
    border-top: 1px solid #111111; 
    border-bottom: 1px solid #292929;
    width: 90%;
    margin-bottom: 30px;
    margin-top: 20px;

}

.Mblock{
    margin-top: 100px;
    
}

.message {
    position: absolute;
    width: 100%;
    height: 10px;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */  
    animation: marquee 15s linear infinite;
  }
  
  /* Move it (define the animation) */
  @keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

    .message:hover {
        animation-play-state: paused;
    }

.marqueeBox{
    position: relative;
    height: 50px;
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    height: 400px;
    background-color: rgb(230, 229, 229);
  }
  
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  .banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(17, 112, 228);
    font-weight: bold;
    text-shadow: 2px 2px rgb(191, 220, 255);
  }
  
  .headerButton2 {
    position: absolute;
    bottom: 5%;
    transform: translate(-50%, -50%);
  }
  
  .headerButton2:first-child {
    left: 40%;
  }
  
  .headerButton2:last-child {
    left: 60%;
  }